*{
  margin: auto;
  padding: 0px;
}
body{
  background-image: url(../img/mainBg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #bdbdbd;
  top: 0;
  left: 0;
}
.ChatH1{
  width: 90%;
  margin: 15px auto;
  text-align: center;
}
.ChatH1 h1{
  width: fit-content;
  color: #616161;
}
main{
  width: 90%;
  display: grid;
  grid-template-columns: 25% 40% 25%;
  grid-template-rows: auto;
  grid-template-areas: "LeftSection CenterSection RightSection";
  grid-gap: 5%;
}
main .LeftSection{
  grid-area: LeftSection;
  width: 60%;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "OnlineUsersSection"
                       "."
                       ".";
}
main .CenterSection{
  grid-area: CenterSection;
  width: 100%;
}
main .RightSection{
  grid-area: RightSection;
  width: 100%;
}
footer{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "FooterTop"
                       "FooterCopyright";
  width: 100%;
  height: 10vh;
  background-color: #bdbdbd;
  color: #616161;
}
